/* GLOBAL */

:root {
  --primary-color: #6436c7;
  --secondary-color: #4e318d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 32px 0;
  text-align: center;
}

footer {
  margin-top: auto;
}

.button {
  background-color: var(--primary-color);
  color: white;
  display: block;
  margin: 16px 0;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  align-self: end;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  background-color: #9268eb;
}

.button.edit {
  background-color: var(--secondary-color);
}

.button.edit:hover {
  background-color: #009bbd;
}

.button.delete {
  background-color: lightgray;
}

.button.delete:hover {
  background-color: rgb(233, 61, 61);
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

header div.container {
  display: grid;
  grid-template-columns: 220px 1fr 315px;
  align-items: center;
  grid-gap: 24px;
}

header div.container a {
  justify-self: start;
}

.logo h1 {
  color: white;
  font-size: 36px;
  line-height: 46px;
}

.logo h2 {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

.search input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}

nav.primary > ul {
  display: flex;
  justify-content: space-between;
}

nav.primary > ul > li > a {
  display: flex;
  align-items: center;
  height: 48px;
  color: white;
  transition: 0.2s;
}

nav.primary > ul > li > a:hover {
  color: var(--primary-color);
}

nav.primary > ul > li > a > i {
  margin-right: 8px;
}

/* PRODUCTS CREATE */

section.form {
  background-color: white;
  padding: 32px 24px;
  margin: 32px auto;
  box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, 0.5);
  border: 1px solid #efefef;
  border-radius: 4px;
  max-width: 700px;
  width: 90%;
}

section.form h3 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 16px;
}

form .item {
  margin-bottom: 16px;
}

form .item > div:nth-child(1) {
  color: #777;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

form .item .input input,
form .item input[type='text'],
form .item input[type='number'],
form .item textarea,
form .item select {
  width: 100%;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, 0.5);
  border: 1px solid #efefef;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

form .item textarea {
  min-height: 150px;
}

form .item span {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border-radius: 16px;
  color: white;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

form .fields {
  margin-bottom: 64px;
}

form .item #photos-uploud {
  position: relative;
  display: block;
  overflow: hidden;
  width: 200px;
}

form .item #photos-uploud p {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background-color: var(--secondary-color);
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  width: 100%;
  margin: 8px 0;
}

form .item #photos-preview img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

/* HOME */

.shop h2 {
  margin: 48px 0;
}

.shop .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.shop .product {
  display: grid;
}

.shop .product .image {
  padding-top: 56.25%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.shop .items h4 {
  margin: 8px 0;
  font-weight: 300;
  color: #999;
}

.shop .items p {
  color: #101010;
  font-weight: 300;
  font-size: 24px;
  margin-top: 8px;
}

.shop .product .old-price {
  padding: 0;
  margin: 4px 0;
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

/* SEARCH PRODUCTS */

.search-products {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 48px;
}

.search-products .header {
  margin-bottom: 48px;
  font-size: 14px;
  color: #333;
}

.search-products .header h2 {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.search-products nav h4 {
  margin-bottom: 16px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}

.search-products nav ul li {
  margin: 4px 0;
}

.search-products nav ul li a {
  color: #777;
}

.search-products nav ul li a:hover {
  color: black;
  font-weight: bold;
}

.input .error {
  background-color: brown;
  padding: 5px;
  border-radius: 4px;
  color: white;
}
