
<div class="item">
  <div>Nome Completo</div>
  <div class="input">
    <input 
      type="text" 
      name="price" 
      placeholder="Digite o nome completo" 
      value="{{user.price}}"
      required
    >
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div class="input">
    <input 
      type="email" 
      name="email" 
      placeholder="Digite o seu email" 
      value="{{user.price}}"
      onblur="Validate.apply(this,'isEmail')"
    >
  </div>
</div>

<div class="item">
  <div>Senha</div>
  <div class="input">
    <input 
      type="password" 
      name="password" 
      placeholder="Escolha uma senha" 
      value="{{user.price}}"
    >
  </div>
</div>

{% if not user.id %}
<div class="item">
  <div>Confirme sua Senha</div>
  <div class="input">
    <input 
      type="password" 
      name="passwordRepeat" 
      placeholder="Confirmar Senha" 
    >
  </div>
</div>
{% endif%}

<div class="item">
  <div>CPF ou CNPJ </div>
  <div class="input">
    <input 
      type="text" 
      name="cpf_cnpj" 
      placeholder="Digite seu CPF ou CNPJ" 
      value="{{user.cpf_cnpj}}"
      onkeydown="Mask.apply(this, 'cpfCnpj')"
      onblur="Validate.apply(this,'isCpfCnpj')"
    >
  </div>
</div>


<div class="item">
  <div>CEP</div>
  <div class="input">
    <input 
      type="text" 
      name="cep" 
      placeholder="Digite O CEP" 
      value="{{user.cep}}"
      onkeydown="Mask.apply(this, 'cep')"
      onblur="Validate.apply(this,'isCep')"
    >
  </div>
</div>

<div class="item">
  <div>Endereço Completo </div>
  <div class="input">
    <input 
      type="text" 
      name="address" 
      placeholder="Digite Seu Endereço Completo" 
      value="{{user.address}}"
    >
  </div>
</div>






